
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/CartLayout.cshtml";
}

<div style=" text-align:center; color: dimgrey">
    <h2>Thanh toán thành công</h2>
    <h4>Shop đã nhận được đơn hàng của bạn. Bạn sẽ nhận được đơn hàng sau 3-5 ngày.</h4>
    <h4>Xin cảm ơn và hẹn gặp lại</h4>
    <h5><a href="@Url.Action("Index", "CustomerProducts")" style="color: red">Tiếp tục mua hàng</a></h5>
</div>

